@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url();
}


@font-face {
    font-family:('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
    src: ('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
}




@keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

animation: fadeIn 8s infinite;


@keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

animation: fadeIn 5s infinite;

#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: none
}

/* .bg-color {
    background-color: #386bb7;
} */


/* BEGINNING OF HERO SESSION */

.maintext h1 {
    font-size: 62px;
    font-weight: 900;
    line-height: 52.9px;
    padding: 20% 0% 3% 0%;
    margin-bottom: 10,
}


.span {
    color: #4CAF4F;
    animation: fadeIn 8s infinite;
}

.main-img img {
    padding: 5% 5% 10% 0%;
    transform: scale(1);
    width: 130%;
}

.nav-link {
    padding-right:
    font-size: 15px;
    font-weight: 700;
    margin: 15px;
}

.btn-register-1 {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 50px;
}

.btn-register {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    margin-top: 5%;
}

.btn-register:hover, .btn-register:focus {
    background-color: #717171;
}

.maintext p {
    color: #717171;
    font-size: 18px;
    font-weight: 400;
}

.all-ellipse {
    padding-top: 3%;
    padding-left: 50%;
}

/* END OF HERO SESSION */


/* BEGINNING OF OUR CLIENTS SESSION */

/* .our-clients {

    background-color: none;
    
} */

.our-clients {
    font-size: 25px;
    padding-top: 2%;
    padding-left:5%;
    color: #4D4D4D;
    text-align: center;
}

.our-clients p {
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    font-weight: 400;

}

.companies-logo {
    padding-left: 38%;
}

.manage {
    font-size: 25px;
    font-weight: 600;
    padding-top: 5%;
    padding-left:55%;
    color: #4D4D4D;
    text-align: center;
}


.manage p {
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    font-weight: 400;
    padding-top: 10px;
}

/* END OF OUR CLIENTS SESSION */


/* <!-- BEGINNING OF MEMBERSHIP SESSION --> */

.card-im {
    text-align: center;
    color: #4D4D4D;
    padding: 20px 20px 10px 20px;
}


.card-im {
    border-radius: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 30px 30px;
}

.card-im p {
    font-size: 15px;
}

.card-im img {
    width: 10%;
    padding-bottom: 5%;
}

.card-im:hover, .card-im:focus {
    background-color: #4CAF4F;
    color: #F5F7FA;
    border-radius: 3%;
}

/* <!-- END OF MEMBERSHIP SESSION --> */


/* <!-- BEGINNING OF THE UNSEEN AND HOW TO DESIGN --> */


.main-img-2 {
    padding-top: 3%;
    padding-bottom: 10%;
}

.main-img-2 img {
    width: 60%;
}

.maintext-2 h4{
    color: #4D4D4D;
    padding-top: 15%;
    padding-bottom: 3%;
    font-size: 35px;
    font-weight: 600;
} 

.maintext-2 p {
    font-size: 15px;
    font-weight: 500;
    color: #4D4D4D;
}
/* <!-- END OF THE UNSEEN AND HOW TO DESIGN --> */



/* <!-- BEGINNING OF Helping --> */

.maintext-3 {
    padding-top: 3%;
    padding-bottom: 30%;
}

.maintext-3 h4 {
    font-size: 35px;
}

.maintext-3 span {
    color: #4CAF4F;
    font-weight: 600;
}

.maintext-3 p {
    font-size: 15px;
    color: #4D4D4D;
}

.main-img-3 img {
    padding-left: 50%;
    padding-top: 3%;
    animation: fadeIn 3s infinite
}

/* <!-- END OF Helping --> */


/* <!-- BEGINNING OF OUR JOURNEY SESSION --> */



.maintext-44 {
    padding-bottom: 15%;
    padding-top: 5%;
}

.main-img-444 img {
    padding-top: 7%;
}

.our-journey {
    padding-bottom: 2%;
    font-size: 15px;
    color: #4D4D4D;
    font-weight: 500;
} 

.ceo-name {
    font-size: 22px;
    font-weight: 600;
    color: #4CAF4F;
}

.ceo-title {
    font-size: 15px;
    color: #717171;
    font-weight: 500;
}

.ceos-companies img {
    padding-top: 3%;
    margin-right: 5%;
    width: 4%;
    padding-bottom: 2%;
}

.meet-all {
    padding-left: 80%;
    color: #4CAF4F;
}

/* <!-- END OF OUR JOURNEY SESSION --> */


/* <!-- BEGINNING OF CARING SESSION --> */

.caringsession h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #4D4D4D;
    padding-bottom: 1%;
}

.caring-p {
    text-align: center;
    color: #717171;
    font-size: 15px;
    font-weight: 400;
}

/* <!-- END OF CARING SESSION --> */


/* <!-- BEGINNING OF CARD SESSION --> */

.card-imag h5 {
    text-align: center;
    font-size: 20px;
    color: #4D4D4D;
    padding-top: 10%;
    background-color: #f6fff6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    border-radius: 10px;
    position: relative;
}

.card-body h5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-body {
    padding-top: 60% !important;
}

.span {
    padding-top: 10%;
}

.card-imag img {
    width: 90%;
    position: absolute;
    padding-bottom: 20%;
}

.card-readmore span {
    padding-top: 40%;
}

/* <!-- END OF CARD SESSION --> */


/* <!-- BEGINNING OF CHILDREN SESSION --> */

.children {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}
.children h1 {
    font-size: 58px;
    font-weight: 700;
    color: #263238
}

.demo-body {
    padding-left: 42%;
    padding-bottom: 5%;
}

.demo-last-btn {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    margin-top: 5%;
    animation: fadeIn 3s infinite;
}

/* <!-- END OF CHILDREN SESSION --> */


/* <!-- BEGINNING OF LAST FOOTER --> */

.last-footer {
    background-color: #263238;
    padding-bottom: %;
    color: aliceblue;
}

.container {
    background-color: none;
}

/* <!-- END OF LAST FOOTER --> */



@media screen and (max-width: 768px) {

    .maintext h1 {
        font-size: 45px;
        margin-top: -20%;
    }

    .maintext p {
        margin-top: -4;
        font-size: 14px;
    }

    .main-img img {
        width: 100%;
        padding-top: 15%;
        padding-left: 5%;
    }

    .main-img-2 img {
        width: 100%;
        padding-top: 0%;
        padding-left: 0%;
    }

    .btn-register-1 {

        padding: 5px 15px;
    }

    .btn-register {
        padding: 10px 20px;
    }



    .our-clients h1 {
        text-align: center;
    }

    .our-clients p {
        padding-right: 5%;
    }

    .companies-logo {
        size: 10px;
        padding-left: 10%;
    }

    .manage {
        padding-left: 3%;
    }

    .manage h3 {
        font-size: 20px;
        padding-top: 10%;
        text-align: center;
    }

    .manage p {
        font-size: 15px;
    }

    .maintext-3 h4 {
        padding-top: 40px;
        
    }

    .main-img-3 img {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        width: 100%;
    }
}