@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url();
}


@font-face {
    font-family:('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
    src: ('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
}




@keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

animation: fadeIn 8s infinite;


#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: #f9fffa;

}

/* .bg-color {
    background-color: #386bb7;
} */


/* BEGINNING OF HERO SESSION */

.maintext h1 {
    font-size: 62px;
    font-weight: 900;
    line-height: 52.9px;
    padding: 20% 0% 3% 0%;
    margin-bottom: 10,
}

.span {
    color: #4CAF4F;
    animation: fadeIn 8s infinite;
}

.main-img {
    padding: 20% 0% 10% 0%;
}

.nav-link {
    padding-right:
    font-size: 15px;
    font-weight: 700;
    margin: 15px;
}

.btn-register-1 {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 50px;
}

.btn-register {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    margin-top: 5%;
}

.maintext p {
    color: #717171;
    font-size: 18px;
    font-weight: 400;
}

.all-ellipse {
    padding-top: 15%;
    padding-left: 50%;
}

/* END OF HERO SESSION */


/* BEGINNING OF OUR CLIENTS SESSION */

.our-clients {
    background-color: #f9fcff;
    
}

.our-clients {
    font-size: 25px;
    padding-top: 2%;
    padding-left:5%;
    color: #4D4D4D;
    text-align: center;
}

.our-clients p {
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    font-weight: 400;

}

.companies-logo {
    padding-left: 37%;
    padding-top: 2%;
}

.manage {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10%;
    padding-left:55%;
    color: #4D4D4D;
    text-align: center;
}


.manage p {
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    font-weight: 400;
    padding-top: 10px;
}

/* END OF OUR CLIENTS SESSION */